.Detail {
  width: 1300px;
  margin: 0px auto;
  height: auto;

  .images {
    position: relative;
    width: 1300px;
    height: 400px;

    .image-black { 
      position: absolute;
      width: 1300px;
      height: 400px;
      background-color:rgba(0, 0, 0, 0.5);
    }

    .image {
      width: 1300px;
      height: 400px;
      object-fit: cover;
    }

    .title-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      top: 30%;
      left: 350px;
      width: 600px;
      color: #ffffff;
      text-align: center;
      
      .title {
        font-size: 35px;
        font-weight: 700;
      }

      .content {
        font-size: 20px;
      }
    }

    .map-homepage {
      display: flex;
      justify-content: space-between;
      padding: 0px 50px;
      position: absolute;
      top: 60%;
      left: 400px;
      width: 500px;
      height: 100px;
      font-weight: 700;

      .map {
        padding: 10px 30px;
        border-radius: 5px;
        background-color: #293462;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
      }

      .homepage {
        padding: 10px 30px;
        border-radius: 5px;
        background-color: #293462;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  .places {
    width: 1300px;
    height: auto;
    padding-left: 5px;
    margin: 30px 0px;

    .places-head-title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 700;
    }

    .place {
      display: inline-block;
      width: 640px;
      height: 100px;
      padding-left: 15px;
      padding-top: 20px;
      border: 1px solid #eee;

      .place-title {
        font-size: 25px;
        font-weight: 700;
      }
      .place-address {
        margin-top: 20px;
        font-size: 17px;
      }
    }
  }
}