.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 80px;
  margin: 0px auto;
  padding: 0px 30px;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 2px 5px #eeeeee;
  background-color: #ffffff;

  .nav-logo {
    font-size: 50px;
    font-weight: 700;
    color: #277BC0;
    cursor: pointer;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    


    .nav-search-place {
      padding: 10px 20px;
      border: 0px;
      border-radius: 5px;
      margin-left: 10px;
      background-color: #277BC0;
      color: #ffffff;
      
    }
  }
}