.Footer {
  width: 1300px;
  height: 100px;
  margin: 0px auto;
  padding-top: 20px;
  background-color: #111111;
  color: #ffffff;
  text-align: center;


  .name {
    font-size: 17px;
  }

  .email {
    font-size: 20px;
  }

  .kakao {
    font-size: 20px;
  }
}